.todoHeading{
  background-color: rgb(83, 225, 147);
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0px;
  margin-bottom: 10px;
}